@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');

body{
    font-family: 'Fascinate', cursive;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #f7e3c7;
    min-height: 100vh;
}

.amarillo{
    background-color: #ECB365;
}

.footer {
    text-align: center;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}
